::-webkit-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio, canvas, img, video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
body {
    background: url(../images/bg.png) repeat;
}
.container {
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
}
#fp-nav span, .fp-slidesNav span {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
/*
    上滑提示
*/

.swipe-tip {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    z-index: 999999;
}
.swipe-tip p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -14px;
    width: 25px;
    height: 14px;
    background: url(../images/swipe_tip.png) no-repeat left top;
    background-size: 100% 100%;
    -webkit-animation: start 1.5s infinite ease-in-out;
}
@-webkit-keyframes start {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }
}
/*
    音乐控制
*/

#bgm {
    display: none;
}
.music-control {
    display: none;
    z-index: 999999;
    position: fixed;
    width: 70px;
    height: 30px;
    top: 10px;
    left: 50%;
    margin-left: 240px;
    font-size: 16px;
    overflow: hidden;
}
@media all and (max-width: 640px) {
    .music-control {
        left: auto;
        right: 10px;
    }
}
.music-control .music-state {
    color: #fff;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    opacity: 0;
    margin-left: 5px;
}
.music-control .music-icon {
    float: right;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    background: url(../images/music.png) no-repeat left top;
    background-size: 100% 100%;
}
.music-control .music-state.fadeIn {
    -webkit-animation: mfadeInLeft 1s ease-in-out both;
}
@-webkit-keyframes mfadeInLeft {
    0% {
        -webkit-transform: translateX(-45px);
        opacity: 0;
    }
    50% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-45px);
        opacity: 0;
    }
}
.music-control.play .music-icon {
    -webkit-animation: rotate 1s linear both infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
/*
    loading界面
*/

.loading {
    background: #c18c3d;
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
}
.loading .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -35px;
    width: 70px;
    text-align: center;
}
.loading .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out both;
}
.loading .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
}
.loading .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0);
    }
    40% {
        -webkit-transform: scale(1.0);
    }
}
/*
    动画
*/

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-transform: translateX(30px);
    }
    80% {
        -webkit-transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInTop {
    0% {
        -webkit-transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInBottom {
    0% {
        -webkit-transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateY(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateY(10deg);
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
.before {
    -webkit-animation: sectionBefore 1s ease backwards;
}
@-webkit-keyframes sectionBefore {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.8);
    }
}
/*section，每个页面的样式设定*/

#fullpage {
    display: none;
}
#section1 {
    background: url(../images/bg1.jpg);
    background-size: 100% 100%;
}
#section2 #slide1 {
    background: url(../images/bg2.jpg);
    background-size: 100% 100%;
}
#section2 #slide2 {
    background: url(../images/bg3.jpg);
    background-size: 100% 100%;
}
#section2 #slide3 {
    background: url(../images/bg4.jpg);
    background-size: 100% 100%;
}
#section3 {
    background: url(../images/bg5.jpg);
    background-size: 100% 100%;
}
.section, .slide {
    position: relative;
}
.section h1 {
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    margin-top: -10px;
}
.section h1 a {
    color: #fff;
}
.section.active > h1 {
    -webkit-animation: flipInY 1s 0.3s ease both;
}
.section.active .slide.active > h1 {
    -webkit-animation: flipInY 1s 0.3s ease both;
}
.fp-controlArrow {
    display: none;
}
audio {
    display: none;
}
